@font-face {
  font-family: "LCDDot TR";
  src: url("./fonts/LCDDot-TR.generated.eot") format("eot"),
    url("./fonts/LCDDot-TR.generated.ttf") format("truetype"),
    url("./fonts/LCDDot-TR.generated.woff") format("woff"),
    url("./fonts/LCDDot-TR.generated.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.memory8bit {
  display: grid;
  grid-template-columns: repeat(8, minmax(74px, 1fr));
}

.memory4bit {
  display: grid;
  grid-template-columns: repeat(4, 56px);
}

.memory {
  font-family: Consolas, Lucida Console, monospace;
  max-height: 400px;
  overflow: auto;
}

.memory8bit > div:nth-child(16n + 9),
.memory8bit > div:nth-child(16n + 10),
.memory8bit > div:nth-child(16n + 11),
.memory8bit > div:nth-child(16n + 12),
.memory8bit > div:nth-child(16n + 13),
.memory8bit > div:nth-child(16n + 14),
.memory8bit > div:nth-child(16n + 15),
.memory8bit > div:nth-child(16n + 16) {
  background-color: #fff;
}

.registers {
  font-family: Consolas, Lucida Console, monospace;
  display: flex;
  flex-wrap: wrap;

  border-left: 1px solid rgb(92, 98, 130);
}

.micro4bit .registers {
  width: 222px;
}

.memory label,
.registers label {
  font-size: 0.75rem;
}

.memoryIcons {
  float: right;
  width: 20px;
  height: 36px;
  font-size: 14px;
}

.micro4bit .memoryIcons {
  height: 20px;
}

.memoryPanel,
.registersPanel {
  display: block;
  padding: 4px;
}

.micro4bit .memory,
.registerContainer {
  background-color: #eee;
}

.memoryPanel span,
.registersPanel span {
  font-family: Consolas, Lucida Console, monospace;
}

.memoryContainer,
.registerContainer {
  padding: 4px;

  border-right: 1px solid rgb(92, 98, 130);
  border-bottom: 1px solid rgb(92, 98, 130);
}

.memory8bit .memoryContainer:nth-child(8n + 1),
.memory4bit .memoryContainer:nth-child(4n + 1) {
  border-left: 1px solid rgb(92, 98, 130);
}

.memory8bit .memoryContainer:nth-child(-n + 8),
.memory4bit .memoryContainer:nth-child(-n + 4) {
  border-top: 1px solid rgb(92, 98, 130);
}

.registerContainer {
  border-top: 1px solid rgb(92, 98, 130);
  min-width: 65px;
}

.lcd {
  width: 640px;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #888;
  background-color: rgb(56, 65, 59);
  color: #eee;
  font-family: "LCDDot TR", monospace;
  font-size: 45px;
  line-height: 29px;
}
.lcd:focus {
  outline: 1px solid #eee;
}

.codeContainer {
  font-family: monospace;
  overflow: auto;
  resize: vertical;
  padding: 6px;
  padding-bottom: 12px;
  box-sizing: border-box;
  max-height: 300px;
}

.code {
  width: 100%;
  border: 1px solid #aaa;
  background-color: white;
}

.code-highlight {
  background-color: lightblue;
}

.code-label {
  color: darkred;
  background-color: lightgray;
}

.code-labelref {
  color: darkred;
}

.code-mnemonic {
  color: darkblue;
  font-weight: bold;
}

.code-comment {
  color: #444;
}

.codePanel button {
  margin: 6px;
  margin-left: 4px;
  cursor: pointer;
}

.underTheHood {
  max-width: 640px;
  box-sizing: border-box;
}

.micro8bit {
  padding: 4px;
}

.micro8bit .underTheHood {
  border: 1px solid #666;
  background-color: #eee;
}

.micro4bit {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: auto;
}

@media (min-width: 768px) {
  .micro4bit {
    overflow: hidden;
  }
}

.overlay {
  position: absolute;
  z-index: 10;
  background: rgb(255, 255, 255, 0.7);
  border: 2px solid #eee;
  top: 88px;
  left: 4px;
  border-radius: 4px;
}

.micro4bit
.small-overlay {
  position: absolute;
  z-index: 10;
  background: rgb(255, 255, 255, 0.8);
  border: 2px solid #eee;
  top: 8px;
  left: 4px;
  border-radius: 4px;
}

.peripherals {
  margin-top: 8px;
}

.micro4bit .peripherals {
  position: relative;
  left: 10px;
  top: 86px;
  background-image: url('./micro4bit.png');
  background-repeat: no-repeat;
  width: 730px;
  height: 640px;
}

.micro4bit .lcd {
  position: absolute;
  top: 330px;
  left: 47px;
  background-color: rgb(52, 65, 73);
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.micro4bit .sounds {
  position: absolute;
  top: 468px;
  width: 720px;
}

.micro8bit .peripherals {

}

.micro8bit .lcd {
  top: 0px;
  left: 0px;
  background-color: rgb(52, 65, 73);
  border-radius: 4px;
  border: none;
  padding: 2px;
}

.topSection {
  background-color: rgb(205, 209, 228);
  box-shadow: 3px 3px rgb(92 98 130);
  border: 1px solid rgb(200, 200, 230);
}

.toolbar {
  width: 100%;
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  padding-top: 2px;
  padding-bottom: 2px;
}

.toolbar .buttons {
  display: flex;
  flex-wrap: wrap;
}

.toolbar .buttons button {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  height: 40px;
  flex: 1;
  border: 0.1em solid rgb(92, 98, 130);
  color: #fff;
  background-color: rgb(114, 123, 163);
  box-sizing: border-box;
  box-shadow: 3px 3px rgb(92 98 130), 2px 2px rgb(92 98 130),
    1px 1px rgb(92 98 130);
}

.toolbar .buttons button:hover {
  color: #fff;
  background-color: rgb(133, 141, 177);
}

.toolbar .buttons button:active {
  margin-right: 2px;
  margin-left: 6px;
  margin-top: 4px;
  margin-bottom: 0px;
  background-color: rgb(114, 123, 163);
  box-shadow: 1px 1px rgb(92 98 130), 1px 1px rgb(92 98 130);
}

.toolbar .buttons button:disabled {
  background-color: rgb(133, 141, 177);
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 3px 3px rgb(92 98 130), 2px 2px rgb(92 98 130),
    1px 1px rgb(92 98 130);
}

.toolbar .buttons button i {
  font-size: 18px;
  display: block;
  margin: 2px;
}

.status {
  display: inline-block;
  font-family: monospace;
  width: 100%;
}

.status .statusItem {
  display: inline-block;
  padding: 0;
  margin-left: 20px;
  padding: 4px;
}

.haltedStatus {
  display: block;
  background-color: #fcc;
  width: 100%;
  text-align: center;
  padding: 4px;
  box-sizing: border-box;
}

.chooseProcessor {
  padding: 6px;
  width: 100%;
  display: flex;
  height: 28px;
}

.instructionSet {
  padding-top: 32px;
  font-family: monospace;
  width: 100%;
}

.isTitle {
  font-size: 16px;
  padding: 6px;
  padding-bottom: 12px;
  display: inline-block;
}

.instructionSet table {
  font-family: monospace;
  width: 100%;
}

.instructionSet table {
  border: none;
  border-collapse: collapse;
}
.instructionSet table td {
  border-left: 1px solid #666;
  padding-left: 6px;
  padding-right: 6px;
}
.instructionSet table td:first-child {
  border-left: none;
}
.instructionSet table tr:nth-child(2n + 1) {
  background-color: #eee;
}
.instructionSet table th {
  background-color: #fff;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  color: #444;
}
.instructionSet .instructionGroupHeading th {
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  text-align: left;
  font-size: 16px;
}

.sounds {
  font-family: monospace;
  border: 1px solid #eee;
  margin-top: 16px;
  padding: 4px;
}

.sounds pre {
  max-width: 640px;
  font-family: monospace;
  overflow: auto;
}

.playAudio {
  cursor: pointer;
}

.memoryContainerBp,
.register-BP {
  background-color: pink !important;
}

.memoryContainerSp,
.register-SP {
  background-color: rgb(255, 255, 151) !important;
}

.memoryContainerIp,
.register-IP {
  background-color: lightblue !important;
}

.memoryContainerIp label {
  font-weight: bold;
}

.register,
.memoryCell {
  border: 1px solid rgb(92, 98, 130);
  font-family: monospace;
  font-size: 16px;
}

.gamePad {
  display: inline-block;
}

.leftPad,
.rightPad {
  display: inline-block;
  position: relative;
  width: 54px;
}
.gamePad button {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #666 !important;
  border-right: 2px solid #666 !important;
  border-radius: 30% !important;
}
.gamePad button:active {
  border: none;
}
.gamePad .pad-w,
.gamePad .pad-s,
.gamePad .pad-ArrowUp,
.gamePad .pad-ArrowDown {
  width: 12px !important;
  height: 14px !important;
}

.gamePad .pad-a,
.gamePad .pad-d,
.gamePad .pad-ArrowLeft,
.gamePad .pad-ArrowRight {
  width: 14px !important;
  height: 12px !important;
}

.gamePad .pad-w,
.gamePad .pad-ArrowUp {
  position: absolute;
  top: 1px;
  right: 16px;
}

.gamePad .pad-a,
.gamePad .pad-ArrowLeft {
  position: absolute;
  top: 15px;
  right: 28px;
}

.gamePad .pad-s,
.gamePad .pad-ArrowDown {
  position: absolute;
  top: 26px;
  right: 16px;
}

.gamePad .pad-d,
.gamePad .pad-ArrowRight {
  position: absolute;
  top: 15px;
  right: 2px;
}

.pixelDisplayContainer {
  width: 640px;
  text-align: center;
}

.robotContainer {
  text-align: center;
  width: 877px;
  height: 857px;
  min-width: 877px;
  min-height: 857px;
}

.pixelDisplay,
.robotContainer canvas {
  display: inline-block;
  margin: 6px;
  padding: 0;
  border: 2px solid #444;
}

.pixelDisplay {
  border: 8px solid #aaa;
}

.robotContainer button {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .toolbarLabel {
    display: none;
  }

  .lcd {
    width: 100%;
  }

  .pixelDisplayContainer,
  .robotContainer {
    width: 100%;
  }
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(92, 98, 130);
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #444;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgb(220, 220, 238);
}

.button:hover {
  color: #fff;
  background-color: rgb(114, 123, 163);
}

.robotContainer {
  background-image: url(./frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 88px;
}

.robotDisplay {
  cursor: move;
  position: absolute;
  top: 77px;
  left: 167px;
}

.robotDragLabel {
  position: relative;
  top: 56px;
  color: white;
  font-family: monospace;
}

.robotToolbar {
  position: relative;
  top: 500px;
}

.hint {
  font-family: "Roboto", sans-serif;
  padding-left: 6px;
}

.hint div {
  display: inline-block;
  padding: 4px;
}

.hintOpCode {
  font-weight: bold;
  font-family: monospace;
}

.hintCode {
  font-family: monospace;
  background-color: #eee;
  border-radius: 3px;
  margin-left: 4px;
}
